streamlit
langchain-classic
langchain-community
langchain-core
langchain-groq
langchain-huggingface
langchain-google-genai
faiss-cpu
python-dotenv
vaderSentiment
tf-keras
transformers
torch
Pillow
langdetect
sentence-transformers
apscheduler
requests