streamlit
langchain-classic
langchain-community
langchain-core
langchain-groq
langchain-huggingface
langchain-google-genai
langchain-text-splitters
faiss-cpu
python-dotenv
vaderSentiment
Pillow
langdetect
sentence-transformers
apscheduler
requests
scispacy
google-generativeai
tiktoken